/* Main styling for the GUI */ 

/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(51, 54, 125, 0.5); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #5f63d3;
    border-radius: 10px; 
    border: 2px solid rgba(51, 54, 125, 0.76); 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6d71d7;
}

/* Terraria Font */
@font-face {
    font-family: 'Andy';
    src: url('styling/Andy\ Bold.ttf');
}

/* Place Terraria background image */
body {
    background-image: url('images/background.jpg');
    font-family: 'Andy';
}

/* Ensure main container takes up full screen */
#mainBodyContent {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 15px;
    gap: 20px;
}

/* Left Panel styling */
#leftPanel {
    width: 22vw;
    min-width: 250px;
    background-color: rgb(51 54 125 / 76%);
    border: 3px solid rgb(29 26 38 / 41%);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Search Container styling */
#searchContainer {
    padding: 10px;
    border-radius: 5px; 
}

/* Style for the search bar */
#iconSearchBar {
    width: 100%;
    border: 3px solid rgb(54 55 131);
    border-radius: 10px;
    outline: none;
    font-family: 'Andy';
    font-size: 24px;
    padding: 6px 8px 6px 8px;
}

/* Icon Container styling */
#iconContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 18px;
    padding: 5px;
    padding-right: 15px;
    color: white;
    overflow-y: auto;
    flex-grow: 1;
    grid-auto-rows: 60px;
}

/* Main Panel styling */
#mainPanel {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(51 54 125 / 76%);
    border: 3px solid rgb(29 26 38 / 41%);
    border-radius: 10px;
}

/* Optional styling for the infoPanel within mainPanel */
#infoPanel {
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    right: 40px;
    width: 15vw;
    height: 35vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* Item icon styling*/
.icon {
    width: 60px;
    height: 60px;
    background-color: #5f63d3;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(29 26 38 / 41%);
    border-radius: 10px;
    user-select: none;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(1.2);
}

.icon:active{
    filter: brightness(0.9);
}

/* Class for icons when not searched on */
.hidden {
    display: none;
}

/* If item is hardmode only, give it red background instead */
.hardmode {
    background-color: #db406b;
    border: 3px solid #b31c2b;
}

/* If item is the last in crafting tree and pre-hardmode, give it blue gradient background */
.finalCraft {
    background-image: linear-gradient(135deg, #5f63d3, #6fa4ff, #36d1dc, #76ffb8, #b6fffc, #6fa4ff, #5f63d3);
    background-clip: padding-box;
    background-size: 400% 400%;
    animation: blue-gradient-animation 8s ease infinite;
    transition: transform 0.2s ease, animation 0.2s ease;
}

/* Animation for Gradient Shifting */
@keyframes blue-gradient-animation {
    0% { background-position: 50% 0%; }
    50% { background-position: 50% 100%; }
    100% { background-position: 50% 0%; }
}

/* If item is the last in crafting tree and hardmode only, give it red gradient background */
.hardmode.finalCraft {
    background-image: linear-gradient(135deg, #db406b, #ff6b8a, #ff8e4a, #ffcd3c, #ffd27f, #ff6b8a, #db406b);
    background-clip: padding-box;
    border: 3px solid #b31c2b;
    background-size: 400% 400%;
    animation: red-gradient-animation 8s ease infinite;
    transition: transform 0.2s ease, animation 0.2s ease;
}

/* Animation for Gradient Shifting */
@keyframes red-gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#selectedItemName {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 21px;
    border-bottom: 2px #d9d9d9 solid;
}

#selectedItemDetails {
    flex-grow: 1;
    font-size: 17px;
}

#iconPicContainer {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.urlIcon {
    width: 15px;
    height: 15px;
    margin-top: auto;
    padding-left: 5px;
}

#selectedItemDetails div {
    padding: 5px 10px 5px 10px;
}

#tooltipVal {
    text-align: center;
}