/* Main styling for the GUI */ 

/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(51, 54, 125, 0.5); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #5f63d3;
    border-radius: 10px; 
    border: 2px solid rgba(51, 54, 125, 0.76); 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6d71d7;
}

/* Terraria Font */
@font-face {
    font-family: 'Andy';
    src: url('styling/Andy\ Bold.ttf');
}

/* Place Terraria background image */
body {
    background-image: url('images/background.jpg');
    font-family: 'Andy';
}





/* Ensure main container takes up full screen */
#mainBodyContent {
    display: flex;
    height: 97vh;
    width: 100vw;
    padding: 15px;
    gap: 20px;
}

/* Container for all left panel content (Tinkery title, icon container, and key container */
#leftBody {
    display: flex;
    flex-direction: column;
}

/* Tinkery title styling */
#TinkeryTitle {
    font-size: 52px;
    color: #ffffff;
    margin-left: 20px;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#footer {
    text-align: center;
    color: #9b1717;
}

/* Key styling */
#key {
    background-color: rgb(51 54 125 / 76%);
    border: 3px solid rgb(29 26 38 / 41%);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    color: white;
    overflow: auto;
}

.keyIcon {
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.keyIconContainer {
    display: flex;
    padding: 3px;
    padding-left: 8px;
    gap: 5px;
}

/* Left Panel styling */
#leftPanel {
    width: 22vw;
    height: 65vh;
    min-width: 250px;
    background-color: rgb(51 54 125 / 76%);
    border: 3px solid rgb(29 26 38 / 41%);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Search Container styling */
#searchContainer {
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

/* Style for the search bar */
#iconSearchBar {
    width: 100%;
    border: 3px solid rgb(54 55 131);
    border-radius: 10px;
    outline: none;
    font-family: 'Andy';
    font-size: 24px;
    padding: 6px 8px 6px 8px;
}

/* Filter button */
#filterSearch {
    height: 100%;
    width: 52px;
    border: 3px solid rgb(54 55 131);
    border-radius: 10px;
    margin-left: 5px;
    background-color: #5f63d3;
}

#filterSearch:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(1.2);
}

#filterSearch:active {
    filter: brightness(0.9);
}

/* Filter icon on filter button */
#filterImage {
    height: 25px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* Filter options container styling */
.popup {
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 200px;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hidden */
    z-index: 100;
}

/* Show filter options when toggled */
.popup.show {
    display: block;
}

/* Styling for each option within filter options popup */
#filterOptions label {
    display: block;
    margin-bottom: 5px;
}

/* Icon Container styling */
#iconContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 18px;
    padding: 5px;
    padding-right: 15px;
    color: white;
    overflow-y: auto;
    flex-grow: 1;
    grid-auto-rows: 60px;
}

/* Main Panel styling */
#mainPanel {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    background-color: rgb(51 54 125 / 76%);
    border: 3px solid rgb(29 26 38 / 41%);
    border-radius: 10px;
}

/* Optional styling for the infoPanel within mainPanel */
#infoPanel {
    padding: 20px;
    border-radius: 10px;
    width: 15vw;
    min-height: 35vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    height: 45vh;
    overflow: auto;
}

/* Item icon styling*/
.icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    user-select: none;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(1.2);
}

.icon:active{
    filter: brightness(0.9);
}

/* Class for icons when not searched on */
.hidden {
    display: none;
}

.rawItem {
    background-color: #916f57;
    border: 3px solid rgb(29 26 38 / 41%);
}

.prehardmode {
    background-color: #5f63d3;
    border: 3px solid rgb(29 26 38 / 41%);
}

/* If item is hardmode only, give it red background instead */
.hardmode {
    background-color: #db406b;
    border: 3px solid #b31c2b;
}

/* If item is the last in crafting tree and pre-hardmode, give it blue gradient background */
.finalCraft {
    background-image: linear-gradient(135deg, #5f63d3, #6fa4ff, #36d1dc, #76ffb8, #b6fffc, #6fa4ff, #5f63d3);
    background-clip: padding-box;
    background-size: 400% 400%;
    animation: blue-gradient-animation 8s ease infinite;
    transition: transform 0.2s ease, animation 0.2s ease;
}

/* Animation for Gradient Shifting */
@keyframes blue-gradient-animation {
    0% { background-position: 50% 0%; }
    50% { background-position: 50% 100%; }
    100% { background-position: 50% 0%; }
}

/* If item is the last in crafting tree and hardmode only, give it red gradient background */
.hardmode.finalCraft {
    background-image: linear-gradient(135deg, #db406b, #ff6b8a, #ff8e4a, #ffcd3c, #ffd27f, #ff6b8a, #db406b);
    background-clip: padding-box;
    border: 3px solid #b31c2b;
    background-size: 400% 400%;
    animation: red-gradient-animation 8s ease infinite;
    transition: transform 0.2s ease, animation 0.2s ease;
}

/* Animation for Gradient Shifting */
@keyframes red-gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* Styling for info panel on the right */

/* Item name at the top */
#selectedItemName {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 21px;
    border-bottom: 2px #d9d9d9 solid;
}

/* Info about the selected item */
#selectedItemDetails {
    flex-grow: 1;
    font-size: 17px;
}

/* Gray box before selecting an item */
#iconPicContainer {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* Little icon to the bottom right of selected item icon */
.urlIcon {
    width: 15px;
    height: 15px;
    margin-top: auto;
    padding-left: 5px;
}

#selectedItemDetails div {
    padding: 5px 10px 5px 10px;
}

#tooltipVal {
    text-align: center;
}



/* Coins CSS */

/* Container for all coins */
#valueVal {
    display: flex;
    gap: 10px;
}

/* Each coin has their own div; remove padding */
#valueVal div {
    padding: 0px !important;
}

.coin {
    background-image: url('images/icons/coins.png');
    background-repeat: no-repeat;
}

.coin-value {
    font-size: 16px;
}

.copperCoin {
    height: 16px;
    width: 12px;
    background-position: -41px 50%;
}

.silverCoin {
    height: 16px;
    width: 12px;
    background-position: -28px 50%;
}

.goldCoin {
    height: 16px;
    width: 12px;
    background-position: -15px 50%;
}

.platinumCoin {
    height: 16px;
    width: 14px;
    background-position: 0px 50%;
}




/* Location information about root items */

#location {
    display: none;
}

.recipeNode rect {
    stroke-width: 3px;
}

.recipeNode.prehardmode rect {
    fill: #5f63d3;
    stroke: rgb(29 26 38 / 41%);
}

.recipeNode.hardmode rect {
    fill: #db406b;
    stroke: #b31c2b;
}

.recipeNode.rawItem rect {
    fill: #916f57;
    stroke: rgb(29 26 38 / 41%);
}